page-home {
   #home{
    background:url('https://www.netflorist.co.za/layout/product-photos/ZoomIn/500X638/CSM040.jpg');
    background-size: cover;
    background-position: center;
    
    margin-bottom: auto;
    margin-top: auto;
    display: block;
    
   }

h1{
    text-align: center;
    font-family: "Neoclassical & Didone Serifs", Times, serif;
  margin-top: 100%;
  position: bottom;
  padding-bottom: 50%;
}
}